@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) {
  .mt-8 {
    margin-top: 4rem;
  }

  .border-t {
    border-top-width: 1px;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}


@media (max-width: 768px) {
  .item {
    width: 50%;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .item {
    width: 100%;
  }
}

  @media screen and (min-width: 768px) {
    .bg-white {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .bg-white {
      max-width: 1024px;
    }
  }

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma-font/Axiforma-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma-font/Axiforma-Light.ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma-font/Axiforma-SemiBold.ttf');
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../public/fonts/Axiforma-font/Axiforma-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}




input:focus {
  border-color: #EF363A;
   outline: none;
}
